# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb
*.ipdb
*.iobj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
ATodaPastilla/bin/*.so
ATodaPastilla/bin/*.dylib
ATodaPastilla/bin/*.dll

# Compiled Static libraries
ATodaPastilla/bin/*.lai
ATodaPastilla/bin/*.la
ATodaPastilla/bin/*.a
ATodaPastilla/bin/*.lib

# Executables
ATodaPastilla/bin/*.exe
ATodaPastilla/bin/*.out
ATodaPastilla/bin/*.app
ATodaPastilla/bin/*.log

*.vs
# interm
interm/
